.Floatingdiv {
    display: flex;
    justify-content: space-between;
    background: white;
    box-shadow: var(--boxShadow);
    align-items: center;
    padding: 0 28px 0 0;
    height: 4.5rem;
    border-radius: 20px;
}

.Floatingdiv>img {
    transform: scale(.5);
}

.Floatingdiv>span {
    font-size: 18px;
    font-weight: 600;
}

.blur {
    position: absolute;
    width: 14rem;
    height: 24rem;
    top: -10;
    left: 65%;
    border-radius: 50%;
    background: #eaeaea;
    z-index: -1;
    filter: blur(30px);
}